.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-top: 10px solid #1E1E1D;
    padding-bottom: 2rem;
}

.faq > h1 {
    font-size: 3.2rem;
    text-align: center;
    margin: 4rem 0rem 3rem 0rem;
}

.faq__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2.5rem;
}

.faq__list-item{
    position: relative;
    display: inline-block;
    list-style: none;
    margin-bottom: 0.7rem;
}

.faq__list-item-dropdown-closed{
    display: none;
}

.faq__list-item-dropdown-top{
    margin-bottom: 1.8rem;
}

.faq__list-item-dropdown-opened{
    display: block;
    position: absolute;
    background-color: #303030;
    text-align: left;
    font-size: 1.5rem;
    max-height: 1200px;
    max-width: 820px;
    padding: 1rem;
    margin: 0.1rem 0rem;
}

.faq__list-item > button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    width: 820px;
    font-weight: 500;
}

.faq__list-item > button > .MuiSvgIcon-root{
    width: 2.5rem;
    height: 2.5rem;
}
